<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title%></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-messages.min.js"></script>
    <script src="javascripts/socket.io.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<!-- attaching the acronymble angular module to body tag -->
  <body ng-app="acronymble">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Acronymble</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rules <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>Make up a phrase with the given acronym</li>
                <li class="divider"></li>
                <li>Vote for your favorite!</li>
                <li class="divider"></li>
                <li>Win points for being more awesome than your peers</a></li>
                <li class="divider"></li>
                <li>More points = higher rank</li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="username"><%= current_user.username%></span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li> Score: <%= current_user.score %></li>
                <li class="divider"></li>
                <li> Rank: <%= current_user.rank %></li>
              </ul>
            </li>
            
            <li><a href="/users/logout"> Logout</a></li>
          </ul>
      
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main -->
    <div class="container">
      <div class="lobby">
        <h1>Welcome to Acronymble</h1>
      </div>

      <div class="game" id="startGame" ng-controller="start_game">
        <p id="start"><button class="btn btn-primary btn-lg" ng-click="start()">Start Game</button></p>
        <p id="join" class="ng-hide"><button class="btn btn-primary btn-lg" ng-click="join('<%= current_user.username%>')">Join Game</button></p>
        <ul ng-repeat="user in users_joined">
            <li> {{ user }} joined the game</li>
        </ul>
        <p> {{acronym_message}} {{ acronym }} </p>
      </div>

      <div id="playGame" class="ng-hide" ng-controller="play_game" >
        <form name="addPhraseForm" ng-submit="add_phrase('<%= current_user.username%>')">
          <div class="col-xs-6 form-group">
          <label for="phrase">Enter a phrase that matches the acronym</label>
          <input type="text" name="phraseAdded" ng-model="phrase" id="phrase" class="form-control" placeholder="Enter a phrase" required autofocus>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-1">        
                <button class="btn btn-primary">Submit Phrase</button>
              </div>
            </div>
          </div>
          <div class"error"> {{ error_message}} </div>       
                  
        </form>
        
      </div >
        

      <div  ng-controller="voting" id="list_phrases" class="ng-hide">
        <ul ng-repeat="phrase in phrases" >
          <li>Phrase: {{phrase.phrase}} by {{phrase.author}} vote: {{phrase.vote}} </li>
          <button id="vote_btn" ng-click="vote(phrase.author)" >Vote</button> 
        </ul>


        <div ng-controller="voting"  id="winner" class="ng-hide">
          <p>Winner: {{winner.author}}</p>
          <p>Phrase: {{winner.phrase}}</p>
          <p>Voting: {{winner.vote}}</p>
        </div>


      </div><!-- voting -->

    </div><!-- /Main -->


    <!-- Chat -->
    <div class="chat">
        <h1>chat</h1>
    </div> <!-- /chat -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  </body>
</html>
