<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login to Acronymble</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/login.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  
  <body>

    <div class="container">

           
      <form action = "/users/login" method ="post" class="form-signin">
        <div class="form-group">
            <!--Jumping CSS made my css3 generator http://cssanimate.com/-->         
    
          <div class="element-animation">
            <img src="/Images/play.png" alt="Smiley face" height="64" width="300"></div><!--End Animate Gif-->

          <label for="inputUsername" class="sr-only">User name</label>
          <input type="text" name="username" id="inputUsername" class="form-control" placeholder="user name" required autofocus>
        </div>

        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">        
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
        <div class="form-group">
          <a href="/users/signup" type="submit" class="btn btn-lg btn-primary btn-block btn-info">Sign up</a>
          </div>
         
        </div>
      </form>

    </div> <!-- /container -->   
  
  </body>

</html>
